
.d-brochure-content span {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
}

.d-brochure-content span {
    margin-top: 10px !important;
    margin-bottom: 30px !important;
}

.d-content-right {
    flex-direction: column;
    text-align: center !important;
    padding-bottom: 100px !important;
}

.d-content-right input, .d-content-right a {
    margin: 5px;
    width: 100% !important;
}

.d-content .description, .banner-slogan p, .d-title p{
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
}

.d-title p {
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: row;
}


.d-title p i {
    color: green;
    margin: 8px 8px;

}

.d-brochure-content {
    padding-top: 20px;
}

.d-brochure-content h3 {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}

.container .row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title img {
    float: right;
}

.banner-image {
    width: 100%;
    text-align: center !important;
}

.title h1, .banner-slogan h1{
    font-family: "Poppins";
    font-size: 80px;
    font-weight: 500;
    line-height: 85px;
}

.title1 h1 {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
}


h1 span {
    color: green;
}


.container .first {
    margin-left: 0px;
}

.d-content-banner {
    position: relative !important;
}

.banner-slogan {
    font-family: "Poppins";
    text-align: left !important;
    width: 50% !important;
    float: left;
    margin-left: 99px !important;
}

.banner-slogan p{
    margin: 20px;
}

.sq-badgeicon {
    text-align: center !important;
}

.sq-badgeicon img {
    display: inline-block;
    width: 16%;
}